---
title: API Lab Test
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ API Testing }}</title>
  <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <h1 class="text-3xl font-bold underline">
      Hello world!
  </h1>
    {{ content }}
</body>
</html>